@using WOM.Models;

<div>
    <button class="btn btn-danger">Delete</button>&nbsp;
    @if (CurrentItem.Complete)
    {
    }
    else
    {
        <p>@CurrentItem.Description</p>
    }
    <p>Created on: @CurrentItem.Created</p>
</div>

@code {
    [Parameter]
    public WorkOut CurrentItem { get; set; }
}
