@page "/myfistcomponent"

<h3>MyFirstComponent</h3>

<Calculator A="@counter" B="@b" />

@for (int i = 0; i < counter; i++)
{
    <p>Hello World!!!</p>
}

@code {
    int counter = 6;
    double b = 12;
}
